@forward "./reset";

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	font-family: "Open Sans", sans-serif;
	background-color: #a6d6ae;
	position: relative;
}

.heading__primary {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -10%);

	font: {
		size: 8rem;
		style: italic;
	}

	letter-spacing: -0.1rem;
	color: transparent;
	-webkit-text-stroke-color: #222;
	-webkit-text-stroke-width: 0.2rem;
	text-shadow: 0.1rem 0.1rem 1rem darken(#a6d6ae, 30%);
}

.castle {
	width: 20rem;
	height: 20rem;
	position: relative;

	&:hover .castle__little-box--01::before,
	&:hover .castle__little-box--02::before {
		box-shadow: 0 0 1rem #bb9213, 0 0 2rem #bb9213,
			0 0 6rem lighten(#bb9213, 25%);
	}

	&__box {
		width: 100%;
		height: 45%;
		background-color: darken(#3a0f09, 3.5%);

		position: absolute;
		bottom: 0;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			background-color: #bb9213;

			width: 30%;
			height: 60%;

			border-radius: 10rem 10rem 0 0;
		}
	}

	&__little-box--01 {
		width: 25%;
		height: 25%;
		background-color: darken(#3a0f09, 3.5%);

		position: absolute;
		top: 50%;
		transform: translateY(-80%);

		display: flex;
		justify-content: center;
		align-items: flex-end;

		&::before {
			content: "";
			background-color: #bb9213;
			position: absolute;
			bottom: 15%;

			width: 40%;
			height: 50%;

			border-radius: 10rem 10rem 0 0;

			transition: all 0.35s;
		}
	}

	&__little-box--02 {
		width: 25%;
		height: 25%;
		background-color: darken(#3a0f09, 3.5%);

		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-80%);

		display: flex;
		justify-content: center;
		align-items: flex-end;

		&::before {
			content: "";
			background-color: #bb9213;
			position: absolute;
			bottom: 15%;

			width: 40%;
			height: 50%;

			border-radius: 10rem 10rem 0 0;

			transition: all 0.35s;
		}
	}

	&__roof {
		width: 0;
		height: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -78%);
		border-bottom: 5rem solid darken(#3a0f09, 3.5%);
		border-left: 6rem solid transparent;
		border-right: 6rem solid transparent;
	}

	&__little-roof--01 {
		width: 0;
		height: 0;

		position: absolute;
		top: 0;
		left: -7.3%;

		border-bottom: 6.2rem solid darken(#3a0f09, 3.5%);
		border-left: 4rem solid transparent;
		border-right: 4rem solid transparent;
	}

	&__little-roof--02 {
		width: 0;
		height: 0;

		position: absolute;
		top: 0;
		right: -7.3%;

		border-bottom: 6.2rem solid darken(#3a0f09, 3.5%);
		border-left: 4rem solid transparent;
		border-right: 4rem solid transparent;
	}
}
